<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'setting'|translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="setting-content">
    <ion-item detail lines="none" (click)="toBlancePage()">
      <ion-img src="assets/svg/me/blance.svg"></ion-img>
      <ion-label>
        {{'blance'|translate}}
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="toSharePage()">
      <ion-img src="assets/svg/me/share.svg"></ion-img>
      <ion-label>
        {{'share'|translate}}
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="toMessagePage()">
      <ion-img src="assets/svg/me/message.svg"></ion-img>
      <ion-label>
        {{'message'|translate}}
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="toLanguagePage()">
      <ion-img src="assets/svg/me/multi-language.svg"></ion-img>
      <ion-label>
        {{'multi-language'|translate}}
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="toResetPassword()">
      <ion-img src="assets/svg/me/about.svg"></ion-img>
      <ion-label>
        {{'reset-password'|translate}}
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="toLoginOut()">
      <ion-img src="assets/svg/me/setting.svg"></ion-img>
      <ion-label>
        {{'loginout'|translate}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>