<div class="common-content">
  <div class="bg">
    <img src="assets/imgs/case/case-bg.png" alt="">
    <span class="more1">更多成功案例</span>
    <span class="more2">拓路前行，领跑未来<br>带给你不一样的网络时代</span>
  </div>
  <section class="tab" *ngFor="let item of caseData;let i = index;" [ngClass]="{'row-reverse': i%2 != 0}">
    <div class="tab-left">
      <div class="img-box">
        <img src="{{item?.logo}}" alt="{{item?.name}}" class="logo">
      </div>
      <div class="info">
        <span class="name">{{item?.name}}</span>
        <span class="label">{{item?.label}}</span>
        <span class="spec">{{item?.spec}}</span>
        <span class="dec">{{item?.dec}}</span>
        <span class="download" *ngIf="!item?.commingSoon">
          <img src="{{item?.downloadIcon}}" alt="">
          扫描二维码下载
        </span>
        <span class="comming-soon" *ngIf="item?.commingSoon">Coming soon……</span>
      </div>
    </div>
    <div class="tab-right" id="{{'autoPlay'+i}}">
      <img src="assets/imgs/case/bodhi2.png" alt="" class="spec-img">
      <div class="img-box" *ngFor="let img of item?.imgs;let j = index;">
        <div *ngIf="j===1" class="img1">
          <div class="img-title"></div>
          <img [src]="img" alt="">
        </div>
        <img [src]="img" alt="" [ngClass]="{'img0': j==0,'img1': j==1,'img2': j==2}" *ngIf="j!=1">
      </div>
    </div>
  </section>
  <div #multiSlide id="multiSlide" class="multiSlide"></div>
  <nav id="multiSlideNav" class="multiSlideNav">
    <span class="navButton" id="left" (click)="testtt('left')"></span>
    <span class="navButton" id="right" (click)="testtt('right')"></span>
  </nav>
</div>