[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.bg {
  img {

    width: 100vw;
    height: 56vw;
  }
}

.tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
  background: #F8F8FF;
  padding: 0 3vw;

  .tab-left {
    width: 40vw;
    height: 38vw;
    display: flex;
    flex-direction: row;

    .img-box {
      width: 6vw;
      height: 6vw;
      margin-right: 2vw;

      .logo {
        width: 6vw;
        height: 6vw;
        border-radius: 1vw;
      }
    }

    .info {
      width: 32vw;
      display: flex;
      flex-direction: column;
      height: 100%;

      .name {
        width: 100%;
        font-size: 2.08vw;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(14, 14, 23, 1);
      }

      .label {
        width: 100%;
        height: 1.61vw;
        font-size: 1.67vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 2.92vw;
      }

      .spec {
        width: 100%;
        height: 1.3vw;
        font-size: 1.25vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 2.92vw;
        margin: 3vw 0;
      }

      .dec {
        width: 100%;
        height: 8.49vw;
        font-size: 1.25vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 1.82vw;
      }

      .download {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.25vw;

        img {
          width: 8.39vw;
          height: 8.39vw;
        }
      }

      .coming {
        width: 100%;
        height: 1.25vw;
        font-size: 1.25vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 1.82vw;
      }
    }
  }

  .tab-right {
    width: 50vw;
    height: 38vw;
    position: relative;

    .spec-img {
      width: 46vw;
      height: 34vw;
      top: 2vw;
      left: 2vw;
    }

    img {
      position: absolute;
      border-radius: 1vw;
    }

    .img0 {
      width: 14vw;
      max-height: 32vw;
      z-index: 2;
      top: 8vw;
      left: 3vw;
    }

    .img1 {
      width: 20vw;
      max-height: 32vw;
      left: 15vw;
      top: 3vw;
      z-index: 3;
    }

    .img2 {
      width: 14vw;
      max-height: 32vw;
      z-index: 2;
      right: 3vw;
    }

  }


}

footer {
  text-align: center;
}

.swiper-slide {
  width: 50vw;
  height: 38vw;
  background: #fff;
  box-shadow: 0 8px 30px #ddd;
}

.swiper-slide img {
  width: 30vw;
  max-height: 32vw;
}
