[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.bg {
  position: relative;
  color: #fff;

  img {
    width: 100%;
    height: 56vw;
  }

  .more1 {
    position: absolute;
    left: 13vw;
    top: 16vw;
    font-size: 3.65vw;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
  }

  .more2 {
    position: absolute;
    left: 13vw;
    top: 22vw;
    font-size: 1.67vw;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
}

.tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
  background: #F8F8FF;
  padding: 2vw 3vw;
  height: 48vw;

  .tab-left {
    width: 40vw;
    height: 38vw;
    display: flex;
    flex-direction: row;

    .img-box {
      width: 6vw;
      height: 6vw;
      margin-right: 2vw;

      .logo {
        width: 6vw;
        height: 6vw;
        border-radius: 1vw;
      }
      img{
        width: 19vw;
        height: auto;
      }
    }

    .info {
      width: 32vw;
      display: flex;
      flex-direction: column;
      height: 100%;

      .name {
        width: 100%;
        font-size: 2.08vw;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(14, 14, 23, 1);
      }

      .label {
        width: 100%;
        height: 1.61vw;
        font-size: 1.67vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 2.92vw;
      }

      .spec {
        width: 100%;
        height: 1.3vw;
        font-size: 1.25vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 2.92vw;
        margin: 3vw 0;
      }

      .dec {
        width: 100%;
        height: 8.49vw;
        font-size: 1.25vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 1.82vw;
      }

      .download {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.25vw;

        img {
          width: 8.39vw;
          height: 8.39vw;
          margin-right: 3vw;
        }
      }

      .comming-soon {
        width: 100%;
        height: 1.25vw;
        font-size: 1.25vw;
        margin-top: 7vw;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(14, 14, 23, 1);
        line-height: 1.82vw;
      }
    }
  }

  .tab-right {
    width: 50vw;
    height: 38vw;
    position: relative;

    .spec-img {
      width: 45vw;
      height: 38vw;
      top: 2vw;
      left: 2vw;
    }

    .img0 {
      width: 14vw;
      max-height: 32vw;
      z-index: 2;
      top: 8vw;
      left: 3vw;
      position: absolute;
      border-radius: 1vw;
    }

    .img1 {
      position: absolute;
      width: 22vw;
      height: 43vw;
      left: 15vw;
      top: 0vw;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 2vw;

      img {
        width: 19vw;
        max-height: 33vw;
        margin: 4vw 0;
      }

      .img-title {
        width: 0.8vw;
        height: 0.6vw;
        position: absolute;
        top: 2vw;
        left: calc(50% + 1.2vw);
      }

      .img-title:before {
        content: " ";
        width: 4.2vw;
        height: 0.6vw;
        background: #E3E3E3;
        border-radius: 0.3vw;
        position: absolute;
        right: 0;
      }

      .img-title:after {
        content: " ";
        width: 0.6vw;
        height: 0.6vw;
        background: #E3E3E3;
        border-radius: 50%;
        position: absolute;
        left: 1.2vw;
      }
    }

    .img1:after {
      content: " ";
      width: 3vw;
      height: 3vw;
      background: #E3E3E3;
      border-radius: 50%;
      position: absolute;
      left: calc(50% - 1.5vw);
      bottom: 1.3vw
    }

    .img2 {
      width: 14vw;
      max-height: 32vw;
      z-index: 2;
      right: 3vw;
      position: absolute;
      border-radius: 1vw;
      top: 3vw;
    }

  }


}

.row-reverse {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 550px) {
  .case-footer {
    height: 10vw;
  }
}
@import './test.css';