<ion-header>
  <ion-toolbar color="top-menu" class="my-toolbar">
    <ion-title>
      {{'my-order'|translate}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="top-menu">
    <span [ngClass]="{'span-select': selectedMenu == 1}" (click)="chooseMenu(1)">{{'all'|translate}}</span>
    <span [ngClass]="{'span-select': selectedMenu == 2}" (click)="chooseMenu(2)">{{'un-pay'|translate}}</span>
    <span [ngClass]="{'span-select': selectedMenu == 3}" (click)="chooseMenu(3)">{{'un-deliver'|translate}}</span>
    <span [ngClass]="{'span-select': selectedMenu == 4}" (click)="chooseMenu(4)">{{'un-take'|translate}}</span>
    <span [ngClass]="{'span-select': selectedMenu == 5}" (click)="chooseMenu(5)">{{'complete'|translate}}</span>
  </div>
</ion-header>

<ion-content color="light">
  <div class="me-content">
    <div class="item" *ngFor="let item of items"></div>
  </div>
</ion-content>