<ion-tabs>
  <ion-tab-bar slot="bottom" (ionTabBarChanged)="change($event)">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'home'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>{{'cart'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <ion-icon name="person"></ion-icon>
      <!-- 如果要自定义图标可以使用这种方式
      <ion-icon name="person" *ngIf="flag != 'me'"></ion-icon>
      <ion-icon name="person-add" *ngIf="flag=='me'"></ion-icon> 
      -->
      <ion-label>{{'me'|translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>