<div class="common-content">
  <div class="bg">
    <img src="assets/imgs/case/case-bg.png" alt="">
    <span class="more1">服务支持</span>
    <span class="more2">随时为您提供帮助 只选择最适合你的</span>
  </div>
  <section class='main'>
    <span class="server-title">手机APP&微信公众号开发</span>
    <div class="main-box">
      <div *ngFor="let item of serverData?.main" class="tab-box">
        <img src="{{item?.img}}" alt="">
        <span>{{item?.name}}</span>
      </div>
    </div>
  </section>
  <section class='other'>
    <span class="server-title">其他技术支持</span>
    <div class="main-box">
      <div *ngFor="let item of serverData?.other;let tt of index;" class="tab-box">
        <img src="{{item?.img}}" alt="">
        <span [innerHTML]="item?.name"></span>
      </div>
    </div>
  </section>
</div>