.bg {
  position: relative;
  color: #fff;

  img {
    width: 100%;
    height: 46vw;
  }

  .more1 {
    position: absolute;
    left: 13vw;
    top: 16vw;
    font-size: 3.65vw;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
  }

  .more2 {
    position: absolute;
    left: 13vw;
    top: 22vw;
    font-size: 1.67vw;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
}

.main {
  display: flex;
  flex-direction: column;
  margin: 3vw 10vw;
  align-items: center;
  margin-bottom: 3vw;

  .server-title {
    font-size: 1.88vw;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(14, 14, 23, 1);
  }

  .main-box {
    margin: 4vw 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .tab-box {
    width: 16vw;
    height: 16vw;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1vw 4vw 0 rgba(207, 204, 204, 0.64);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;

    img {
      width: 4vw;
      max-height: 4vw;
      margin-bottom: 3vw;
    }

    span {
      width: 8.96vw;
      font-size: 1.25vw;
      font-family: PingFang-SC-Regular;
      font-weight: 400;
      color: rgba(14, 14, 23, 1);
      text-align: center;
    }
  }
}

.other {
  display: flex;
  flex-direction: column;
  margin: 3vw 18vw;
  align-items: center;
  margin-bottom: 3vw;

  .server-title {
    font-size: 1.88vw;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(14, 14, 23, 1);
  }

  .main-box {
    margin: 4vw 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .tab-box {
    width: 64vw;
    background: rgba(255, 255, 255, 1);
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 3vw;

    img {
      width: 16vw;
      max-height: 16vw;
      margin-right: 8vw;
    }

    span {
      font-size: 1.25vw;
      font-family: PingFang-SC-Regular;
      font-weight: 400;
      color: rgba(14, 14, 23, 1);
      text-align: center;
    }
  }

  .tab-box:nth-child(2n) {
    flex-direction: row-reverse;
  }
}
