ion-header::after {
  height: 0 !important;
}
.cart-bg {
  width: 100%;
  height: 70vw;
  position: relative;
  background: #f4f4f4;

  .me-bg {
    width: 100%;
    height: 49vw;
  }
  .info-box {
    position: absolute;
    top: 0vw;
    left: 3vw;
    right: 3vw;
    bottom: 3vw;
    font-size: 5.56vw;
    font-weight: bold;
    color: white;

    .info {
      width: 100%;
      height: 39vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 3vw;

      ion-avatar {
        width: 14vw;
        height: 14vw;
        margin-bottom: 2vw;
      }
    }

    .order-box {
      background: #fff;
      width: 100%;
      height: 28vw;
      border-radius: 2vw;
      color: #262626;
      .all {
        font-size: 3.32vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vw;
        padding: 0 4vw;
        border-bottom: #F4F4F4 2px solid;
        span{
          height: 10vw;
          line-height: 10vw;
        }
      }
      .details {
        height: 18vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item {
          width: 31vw;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 3.7vw;
          justify-content: center;

          span:nth-child(1){
            color: #1EAEF8;
            font-size: 3.31vw;
            margin-bottom: 1vw;
          }
        }
      }
    }
  }
}
ion-content {
  .me-content {
    border-radius: 2vw;
    background: #fff;
    width: 94vw;
    margin: 0 auto;
    padding: 2vw;

    ion-item {
      display: flex;
      height: 14vw;
      justify-content: center;
      border-bottom: 2px #f4f4f4 solid;
      font-size: 3.7vw;
      color: #262626;

      ion-img {
        width: 4vw;
        max-height: 4vw;
        margin-right: 5vw;
      }
    }
    ion-item:last-child {
      border-bottom: unset;
    }
  }
}
