<section class="site-header">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="">
    <span class="title">仰曼科技</span>
  </div>
  <div class="menu">
    <span [ngClass]="{'active':activeTab=='home'||hoverTab=='home'}" (mouseenter)="mouseEnterFun('home')"
      (mouseleave)="mouseLeaveFun()" class="menu-item" (click)="currentState='initial';toHomePage()">{{'首页'}}</span>
    <span [ngClass]="{'active':activeTab=='case'||hoverTab=='case'}" (mouseenter)="mouseEnterFun('case')"
      (mouseleave)="mouseLeaveFun()" class="menu-item" (click)="toCasePage()">{{'案例'}}</span>
    <span [ngClass]="{'active':activeTab=='details'||hoverTab=='details'}" (mouseenter)="mouseEnterFun('details')"
      (mouseleave)="mouseLeaveFun()" class="menu-item" (click)="toDetailsPage()">{{'商城模板'}}</span>
    <span [ngClass]="{'active':activeTab=='server'||hoverTab=='server'}" (mouseenter)="mouseEnterFun('server')"
      (mouseleave)="mouseLeaveFun()" class="menu-item" (click)="toServerPage()">{{'服务支持'}}</span>
    <span [ngClass]="{'active':activeTab=='about'||hoverTab=='about'}" (mouseenter)="mouseEnterFun('about')"
      (mouseleave)="mouseLeaveFun()" class="menu-item" (click)="toAboutPage()">{{'关于我们'}}</span>
    <span [ngClass]="{'active':activeTab=='secret'||hoverTab=='secret'}" (mouseenter)="mouseEnterFun('secret')"
      (mouseleave)="mouseLeaveFun()" class="menu-item" (click)="toSecretPage()">{{'隐私政策'}}</span>

    <div class="other-menu" [@menuClick]="currentState">
      <span (click)="currentState='initial';toCasePage()">{{'案例'}}</span>
      <span (click)="currentState='initial';toDetailsPage()">{{'商城模板'}}</span>
      <span (click)="currentState='initial';toServerPage()">{{'服务支持'}}</span>
      <span (click)="currentState='initial';toAboutPage()">{{'关于我们'}}</span>
      <span (click)="currentState='initial';toSecretPage()">{{'隐私政策'}}</span>
    </div>
    <span class="menu-img" (click)="changeState()"><img src="assets/imgs/icon/menu.svg" alt=""></span>
  </div>
  <!-- <div class="lan">
    <span>{{'语言'}}</span>
  </div> -->
</section>
<div class="wraper wraper-header" [hidden]="currentState==='initial'" (click)="changeState()"></div>