.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  background: transparent;
  color: #fff;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin-left: 180px;
    display: flex;
    align-items: center;

    img:nth-child(1) {
      display: inline-block;
      width: 54px;
      height: 41px;
      margin-right: 52px;
    }

    img:nth-child(2) {
      display: inline-block;
      width: 162px;
      height: 44px;
    }

    img:nth-child(3) {
      margin-right: 52px;
      display: none;
    }

    img:nth-child(4) {
      display: none;
    }
  }

  .menu {
    font-size: 24px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 180px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    .menu-item {
      text-align: center;
      cursor: pointer;
      margin-right: 60px;
      position: relative;
    }

    .menu-item:nth-child(6) {
      margin-right: 0;
    }

    .menu-item:hover {
      font-weight: bold;
    }

    .active {
      font-size: 28px;
      font-weight: bold;
    }

    .active::after {
      // content: " ";
      // left: 0;
      // right: 0;
      // top: 100%;
      // position: absolute;
      // background: #007aff;
      // height: 3px;
      // font-weight: bold;
      // font-size: 28px;
    }

    .menu-img {
      display: none;

      .anticon {
        color: #fff;
      }
    }
  }
}

.site-header-scroll {
  background: #fff;
  color: #000;
  border-bottom: 1px solid #f1f1f1;

  .logo {
    img:nth-child(3) {
      display: inline-block;
    }

    img:nth-child(4) {
      display: inline-block;
    }

    img:nth-child(1),
    img:nth-child(2) {
      display: none;
    }
  }

  .menu {
    color: #000;

    .menu-img {
      .anticon {
        color: #000;
      }
    }

    .menu-item:hover,
    .active {
      font-weight: bold;
    }
  }
}

.other-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 3px 0;

  span {
    width: 4rem;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
  }

  span:hover {
    font-weight: bold;
    border-bottom: #007aff solid 2px;
    padding: 3px 0 1px 0;
  }
}

@media only screen and (max-width: 1468px) {
  .site-header {
    .logo {
      margin-left: 60px;
    }

    .menu {
      margin-right: 30px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .site-header {
    .logo {

      img:nth-child(1) {
        display: inline-block;
      }

      img:nth-child(2) {
        display: inline-block;
      }
    }

    .menu {

      .menu-item:nth-child(2),
      .menu-item:nth-child(3),
      .menu-item:nth-child(4),
      .menu-item:nth-child(5),
      .menu-item:nth-child(6) {
        display: none;
      }

      .menu-img {
        display: block;
      }
    }
  }

  .site-header-scroll {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #f1f1f1;

    .logo {
      img:nth-child(3) {
        display: inline-block;
      }

      img:nth-child(4) {
        display: inline-block;
      }

      img:nth-child(1),
      img:nth-child(2) {
        display: none;
      }
    }

    .menu {
      color: #000;

      .menu-img {
        .anticon {
          color: #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .site-header {
    height: 10vw;

    .logo {
      margin-left: 8vw;

      img:nth-child(1) {
        display: inline-block;
        width: 4.5vw;
        height: 3vw;
        margin-right: 3vw;
      }

      img:nth-child(2) {
        display: inline-block;
        width: 12vw;
        height: 3vw;
      }
    }

    .menu {
      margin-right: 8vw;
      font-size: 2.5vw;

      .menu-item {
        margin-right: 2vw;
      }

      .menu-item:nth-child(2),
      .menu-item:nth-child(3),
      .menu-item:nth-child(4),
      .menu-item:nth-child(5),
      .menu-item:nth-child(6) {
        display: inline-flex;
      }

      .menu-img {
        display: none;

        .anticon {
          font-size: 1.5vw;
        }
      }

      .menu-item:hover{
        font-weight: bold;
      }
      .active {
        font-size: 2.5vw;
        font-weight: bold;
      }
    }
  }

  .site-header-scroll {
    height: 10vw;
    background: #fff;
    color: #000;
    border-bottom: 1px solid #f1f1f1;

    .logo {
      margin-left: 8vw;

      img:nth-child(3) {
        display: inline-block;
        width: 4.5vw;
        height: 3vw;
        margin-right: 3vw;
      }

      img:nth-child(4) {
        display: inline-block;
        width: 12vw;
        height: 3vw;
      }

      img:nth-child(1),
      img:nth-child(2) {
        display: none;
      }
    }

    .menu {
      margin-right: 8vw;
      font-size: 2.5vw;
      color: #000;

      .menu-item {
        margin-right: 2vw;
      }

      .menu-img {
        .anticon {
          font-size: 1.5vw;
          color: #000;
        }
      }

      .menu-item:hover{
        font-weight: bold;
      }
      .active {
        font-size: 2.5vw;
        font-weight: bold;
      }
    }
  }

  .wraper-header {
    background-color: rgba(0, 0, 0, 0);
  }
}
