<div class="common-content">
    <div class="bg">
        <img src="assets/imgs/case/case-bg.png" alt="">
        <span class="more1">更多成功案例</span>
        <span class="more2">拓路前行，领跑未来<br>带给你不一样的网络时代</span>
    </div>
    <div class="details-box">
        <div class="funcs">
            <div class="head border-bottom">
                <span>功能细则</span>
            </div>
            <span class="border-bottom" *ngFor="let item of detailsData?.funcs">{{item}}</span>
        </div>

        <!-- 小屏幕 -->
        <div class="collapse" (click)="toggleExpand('base')">
            <span>基础版</span>
        </div>
        <div class="base1" [@carousel] *ngIf="expandTab=='base'">
            <div class="head border-bottom">
                <span>基础版</span>
                <span class="price">
                    <font color="#3366FF">Kyat 298 </font>
                    <span>
                        万/年
                    </span>
                </span>
            </div>
            <span class="border-bottom" *ngFor="let item of detailsData?.base">
                <i nz-icon nzType="check" nzTheme="outline" *ngIf="item"></i>
            </span>
        </div>
        <div class="collapse" (click)="toggleExpand('higher')">
            <span>高级版</span>
        </div>
        <div class="higher1" [@carousel] *ngIf="expandTab=='higher'">
            <div class="head border-bottom">
                <span>高级版</span>
                <span>
                    <font color="#3366FF">Kyat 598</font> 万/年
                </span>
            </div>
            <span class="border-bottom" *ngFor="let item of detailsData?.higher">
                <i nz-icon nzType="check" nzTheme="outline" *ngIf="item"></i>
            </span>
        </div>
        <div class="collapse" (click)="toggleExpand('profe')">
            <span>专业版</span>
        </div>
        <div class="profe1" [@carousel] *ngIf="expandTab=='profe'">
            <div class="head border-bottom">
                <span>专业版</span>
                <span>
                    <font color="#3366FF">Kyat 798</font> 万/年
                </span>
            </div>
            <span class="border-bottom" *ngFor="let item of detailsData?.profe">
                <i nz-icon nzType="check" nzTheme="outline" *ngIf="item"></i>
            </span>
        </div>

        <!-- 大屏幕 -->
        <div class="base" [@carousel]>
            <div class="head border-bottom">
                <span>基础版</span>
                <span class="price">
                    <span class="price">
                        <font color="#3366FF">Kyat&nbsp;</font>
                        398 万/年
                    </span>
                </span>
            </div>
            <span class="border-bottom" *ngFor="let item of detailsData?.base">
                <i nz-icon nzType="check" nzTheme="outline" *ngIf="item"></i>
            </span>
        </div>
        <div class="higher" [@carousel]>
            <div class="head border-bottom">
                <span>高级版</span>
                <span class="price">
                    <font color="#3366FF">Kyat&nbsp;</font>
                    598 万/年
                </span>
            </div>
            <span class="border-bottom" *ngFor="let item of detailsData?.higher">
                <i nz-icon nzType="check" nzTheme="outline" *ngIf="item"></i>
            </span>
        </div>
        <div class="profe" [@carousel]>
            <div class="head border-bottom">
                <span>专业版</span>
                <span class="price">
                    <font color="#3366FF">Kyat&nbsp;</font>
                    798 万/年
                </span>
            </div>
            <span class="border-bottom" *ngFor="let item of detailsData?.profe">
                <i nz-icon nzType="check" nzTheme="outline" *ngIf="item"></i>
            </span>
        </div>
    </div>
</div>