.details-box {
  display: flex;
  justify-content: center;
}

.bg {
  position: relative;
  color: #fff;

  img {
    width: 100%;
    height: 56vw;
  }

  .more1 {
    position: absolute;
    left: 13vw;
    top: 16vw;
    font-size: 3.65vw;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
  }

  .more2 {
    position: absolute;
    left: 13vw;
    top: 22vw;
    font-size: 1.67vw;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
}

[nz-icon] {
  font-size: 24px;
}

.collapse {
  cursor: pointer;
  background: #55c2af;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e2e2e2;

  span {
    word-break: break-word;
    letter-spacing: 20px;
    width: 20px;
    text-align: center;
    height: 64px;
  }
}

.funcs,
.base,
.higher,
.profe,
.base1,
.higher1,
.profe1 {
  display: flex;
  width: 20vw;
  height: 100%;
  flex-direction: column;

  .head {
    height: 80px;
    width: 100%; 

    .price {
      font-family: "Arial";
      font-size: 18px;
      text-align: center;
      text-indent: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      sup{
        font-size: 18px;
      }
    }
  }

  span {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
}

.base,
.higher,
.profe {
  display: none;
}

.funcs {
  width: 30vw;
  border: 1px solid #e9e9e9;
}
.border-bottom{
  border-bottom: 1px solid #e9e9e9;
}
@media only screen and (min-width: 550px) {
  .collapse {
    display: none;
  }

  .base,
  .higher,
  .profe {
    display: flex;
    border-right: 1px solid transparent;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  .base:hover,
  .higher:hover,
  .profe:hover{
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #87c7b8;
    box-shadow: 0 0 40px 0 #87c7b8;
    .head {
      background: #07ad87;
      color: #fff;
    }
  }
  .base1,
  .higher1,
  .profe1 {
    display: none;
  }
}
